.about {
    padding: 190px 0 55px;
    background-color: var(--color-white);
}

.about__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
}

.about_title::before{
    content: "How it works";
    color: var(--color-black);
    font-weight: 600;
    font-size: 24px;
    position: absolute;
    top: -40px;
}

.about_title {
    max-width: 505px;
    color: var(--color-green);
    font-weight: 700;
    font-size: 50px;
    position: relative;
}

.about_description {
    max-width: 640px;
    color: var(--color-black);
    font-weight: 500;
    font-size: 20px;

}

.about__cards {
    margin: 50px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: start;
    column-gap: 20px;
}

.about__cards .card:nth-child(2){
    margin: 200px 0 0;
}

@media(max-width:1250px){
    .about {
    padding: 150px 0 50px;
}

.about__content {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 30px;
}

.about_description {
    max-width: 510px;
}
.about__cards {
    margin: 20px 0 0;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.about__cards .card:nth-child(2){
    margin: 0;
}
}

@media(max-width:576px){
     .about {
    padding: 100px 10px 40px;
}
.about_title {
    font-size: 35px;
}

.about_description {
    font-size: 16px;

}
.about__cards {
    margin: 20px 0 0;
}
}
