.header {
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
}

.header__list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 70px;
    column-gap: min(70px, 4vw);
}

.header__link {
   font-weight: 500;
   font-size: 20px;
   color: var(--color-black);
   white-space: nowrap;
}

.header__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

@media(max-width: 992px){
    .header__link {
   font-size: 16px;
}

   .btn{
    width: 120px;
   }

   .btn--signin{
    width: 90px;
   }
}

@media(max-width: 768px){
    .header__nav {
        display: none;
   }
}
