
.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
}

.header__list {
    padding: 0 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 70px;
    column-gap: min(70px, 4vw);
}

.header__link {
   font-weight: 500;
   font-size: 20px;
   color: var(--color-black);
   white-space: nowrap;
   position: relative;
}

.header__link:hover{
    color: var(--color-green);
}

.header__link::after{
    content: "";
    height: 1px;
    left: 0;
    right: 100%;
    background-color: var(--color-green);
    position: absolute;
    bottom: -4px;
    transition: .3s;
}

.header__link:hover::after{
    right: 0;
}

.header__link:focus-visible{
    outline: 2px solid var(--color-dark-green);
}

.header__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    column-gap: 5px;
}

@media(max-width: 992px){
    .header__link {
   font-size: 16px;
}

   .btn{
    width: 120px;
   }

   .btn--signin{
    width: 90px;
   }
}

@media(max-width: 768px){
    .header__wrapper {
        padding: 0 0 0 45px;
}
    .header__nav {
        display: none;
   }
    .btn{
    width: 100px;
   }

   .btn--signin{
    width: 80px;
   }
}
