.mob-menu {
    display: none;
    top: 35px;
    left: 15px;
    position: absolute;
}
.mob-menu__burger-icon {
    width: 33px;
    height: 18px;
    cursor: pointer;
}
.mob-menu__toggler {
    display: none;
}

.mob-menu__toggler:checked ~ .mob-menu__nav{
    translate: 0;
}

.mob-menu__nav {
    padding: 35px 20px;
    z-index: 2;
    background-color: var(--color-white);
    inset: 0;
    position: fixed;
    translate: -100%;
    transition: .3s;

}
.mob-menu__list {
    display: flex;
    flex-direction: column;
    align-items: end;
    row-gap: 30px;
}

.mob-menu__link {
    font-size: 35px;
    color: var(--color-black);
}

.mob-menu__link:hover{
    color: var(--color-green);
}

.mob-menu__cross-icon {
    width: 25px;
    height: 22px;
    cursor: pointer;
    top: 35px;
    left: 15px;
    position: absolute;
}
@media(max-width: 768px){
    .mob-menu {
    display: block;
}
}
