.person-card {
    padding: 23px 0 30px;
    width: 296px;
    height: 290px;
    background-color: var(--color-white);
    position: absolute;
    top: 350px;
    left: 5px;
    box-shadow: 2px 2px 5px 0 var(--color-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    color: var(--color-black);
    border-radius: 5px;
}
.person-card__title {
    font-size: 15px;
    font-weight: 600;
    position: relative;
}

.person-card__title::after{
    content: "";
    height: 1.5px;
    left: 0;
    right: 0;
    background-color: var(--color-black);
    position: absolute;
    bottom: -10px;
}

.person-card__photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    margin: 37px 0 10px;
}
.person-card__photo-img {
    width: 102px;
    height: 102px;
    object-fit: cover;
    object-position: -25px -10px;
}
.person-card__name {
    font-size: 12px;
    font-weight: 400;
}
.person-card__description {
    margin: 20px 0 0;
}
.person-card__subtitle {
    font-size: 16px;
    font-weight: 700;
}
.person-card__list {
    list-style: disc;
    padding: 15px 0 0 15px;
}
.person-card__item {
    font-size: 11px;
    font-weight: 400;
    margin: 0 0 15px;
}
