.product {
    padding: 115px 0 170px;
    background-color: var(--color-white);
}

.product__wrapper {
    display: flex;
    max-width: 1400px;
    justify-content: center;
    align-items: start;
    column-gap: 85px;
    position: relative;
}

.product__photo {
    max-width: 640px;
    height: 575px;
    border-radius: 16px;
    overflow: hidden;
}

.product__photo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: auto 128/115;
}

.product__content {
    margin: 50px 0 0;
    max-width: 530px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 20px;
}

.product__title::before{
    content: "Our product";
    font-size: 25px;
    font-weight: 600;
    color: var(--color-black);
    position: absolute;
    top: -50px;
}

.product__title {
    font-size: 50px;
    font-weight: 700;
    color: var(--color-green);
    position: relative;
}

.product__description {
    color: var(--color-black);
    font-size: 20px;
    font-weight: 400;
}

.product .btn {
    margin: 20px 0 0;
    width: 230px;
    height: 65px;
}

@media(max-width: 992px){
    .product__content {
    max-width: 380px;
}
.product__title {
    font-size: 35px;
}

}

@media(max-width: 768px){
    .product {
    padding: 100px 0 100px;
}

    .product__wrapper {
    max-width: 500px;
    flex-wrap: wrap;
    margin: 0 auto;
    row-gap: 30px;
}
 .product__content {
    align-items: center;
}

    .product__wrapper .person-card{
        display: none;
    }

}
